
.total{
    font-weight: bold
}

.name{
    font-size:13px; 
    font-weight:bold;
}
h1{
    text-align: center;
}
.mainDiv{
    /*display: flex;*/
    /*justify-content:space-around;*/
    /*align-items:center;*/
    /*height:25px;*/
    /*margin:3px;*/
    /*font-size: 13px;*/
    height:25px;
    /*font-size:15px;*/
    
}
td{
      min-width: 60px;
      border:1px solid black;
  }
  
 /*table{*/
 /*    padding:100px;*/
 /*}*/


/*@media only screen and (max-width: 768px) {*/
  /* For mobile phones: */
  
/*  .mainDiv{*/
      
/*  }*/
  /*td .image{*/
  /*    display: none;*/
  /*}*/
  
/*}*/
.rank{
    text-align:center;
    font-weight: bold;
}

tr{
    /*padding:10px;*/
    text-align: left;
}

th{
    font-size:11px;
    text-align: left;
}